body {
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
    background-color: #e5d5c2;
}

.container {
    width: 80%;
    margin: 0% auto;
    
}

header {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('images/header-bg.jpg') center/cover no-repeat;
    color: #fff;
    padding: 50px 0;
    text-align: center;
}

header h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

header p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

nav {
    text-align: center;
    margin-top: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 25px;
    background-color: #b5653d;
    border-radius: 10px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #955e38;
}

.btn {
    display: inline-block;
    background-color: #b5653d;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #955e38;
}

section {
    padding: 50px 0;
    text-align: center;
}

.feature {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.feature:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.feature img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}

.feature h3 {
    font-size: 1.5em;
    margin-top: 20px;
    color: #5e4936;
}

.feature p {
    font-size: 1.1em;
    color: #5e4936;
}

footer {
    background-color: #3e3a36;
    color: #fff;
    padding: 0px 0;
    text-align: center;
}
